<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap/css/intro.css">
    <title>인트로</title>
</head>

<body>
    <div class="backgroundAll"></div>
    <div class="vedioContainer">
        <video autoplay muted loop id="introVideo">
            
                <source src="/bootstrap/video/IntroVideo.mp4" type="video/mp4">
           
        </video>
    </div>
    <div class="toHomepage">
        <a href="/index"> 
        <button class="custom-btn btn-12"><span>Click!</span><span>홈페이지 바로가기</span></button>
        </a>
    </div>

</body>