<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>공지사항</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" th:href="@{/bootstrap/css/header.css}" />
<link rel="stylesheet" href="/bootstrap/css/css.css">
<!-- jquery cdn -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
	integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
	crossorigin="anonymous"></script>
</head>

<body>
	<!-- header -->
	<div class="header">
		<th:block th:replace="fragments/header :: header"></th:block>
	</div>
	<div class="board_wrap">
		<div class="board_title">
			<strong>공지사항</strong>
				               <ul>
                <li><img src="https://i.ibb.co/fqVWzWt/home.png" alt="home" border="0"></li>
                <li> > 시민마당 > 공지사항  </li>
            </ul>
		</div>
		<div class="board_view_wrap">
			<div class="board_view">
				<div class="title" th:text="${board.boardTitle}">
					<!-- The post title is entered. -->
				</div>
				<div class="info">
					<dl>
						<dt>번호</dt>
						<dd th:text="${board.id}"></dd>
					</dl>
					<dl>
						<dt>글쓴이</dt>
						<dd th:text="${board.boardWriter}"></dd>
					</dl>
					<dl>
						<dt>작성일</dt>
						<dd th:text="${board.boardCreatedTime}"></dd>
					</dl>
					<dl>
						<dt>조회수</dt>
						<dd th:text="${board.boardHits}"></dd>
					</dl>
				</div>
				<div class="cont" th:text="${board.boardContents}">

				</div>
			</div>
			<div class="bt_wrap">
			<!--<div class="bt_wrap"> 클래스를 빼고, 스타일 css 새로 작성-->
			<button onclick="listReq()" class="custom-button"id="list">목록</button>
			<button th:if="${role =='ROLE_ADMIN'}" onclick="updateReq()" class="custom-button" id="edit">수정</button>
			<button th:if="${role =='ROLE_ADMIN'}" onclick="deleteReq()" class="custom-button" id="delete">삭제</button>
			<!--</div>-->
			</div>
		</div>

		
				</div>
			</body>
<script th:inline="javascript">

    const listReq = () => {
        console.log("목록 요청");
        const page =  /*[[${page}]]*/
        location.href = "/notice/list?page=" + page;
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = /*[[${board.id}]]*/
        location.href = "/notice/update/" + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = /*[[${board.id}]]*/
        location.href = "/notice/delete/" + id;
    }
	
</script>

</html>